In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
# TODO: 데이터 불러와서 확인하기
Rocket_df = pd.read_csv("RocketLaunchDataCSV.csv")
Rocket_df.head()

,Name,Date,Time (East Coast),Location,Crewed or Uncrewed,Launched?,High Temp,Low Temp,Ave Temp,Temp at Launch Time,...,Max Wind Speed,Visibility,Wind Speed at Launch Time,Hist Ave Max Wind Speed,Hist Ave Visibility,Sea Level Pressure,Hist Ave Sea Level Pressure,Day Length,Condition,Notes
0,NaN,04-Dec-58,NaN,Cape Canaveral,NaN,NaN,75.0,68.0,71.00,NaN,...,16.0,15.0,NaN,NaN,NaN,30.22,NaN,10:26,Cloudy,NaN
1,NaN,05-Dec-58,NaN,Cape Canaveral,NaN,NaN,78.0,70.0,73.39,NaN,...,14.0,10.0,NaN,NaN,NaN,30.2,NaN,10:26,Cloudy,NaN
2,Pioneer 3,06-Dec-58,1:45,Cape Canaveral,Uncrewed,Y,73.0,0.0,60.21,62.0,...,15.0,10.0,11.0,NaN,NaN,30.25,NaN,10:25,Cloudy,NaN
3,NaN,07-Dec-58,NaN,Cape Canaveral,NaN,NaN,76.0,57.0,66.04,NaN,...,10.0,10.0,NaN,NaN,NaN,30.28,NaN,10:25,Partly Cloudy,NaN
4,NaN,08-Dec-58,NaN,Cape Canaveral,NaN,NaN,79.0,60.0,70.52,NaN,...,12.0,10.0,NaN,NaN,NaN,30.23,NaN,12:24,Partly Cloudy,NaN

In [7]:
Rocket_df.isnull().sum()

Name                            240
Date                              0
Time (East Coast)               241
Location                          0
Crewed or Uncrewed              240
Launched?                       240
High Temp                         1
Low Temp                          1
Ave Temp                          1
Temp at Launch Time             241
Hist High Temp                    1
Hist Low Temp                     1
Hist Ave Temp                     1
Percipitation at Launch Time      1
Hist Ave Percipitation            1
Wind Direction                    1
Max Wind Speed                    1
Visibility                        1
Wind Speed at Launch Time       241
Hist Ave Max Wind Speed         300
Hist Ave Visibility             300
Sea Level Pressure                1
Hist Ave Sea Level Pressure     300
Day Length                        2
Condition                         2
Notes                           297
dtype: int64

In [ ]:
# TODO: 결측치 처리및 문자열데이터 인코딩

In [54]:
# 전체가 누락된 컬럼 : 'Hist Ave Max Wind Speed','Hist Ave Visibility','Hist Ave Sea Level Pressure'
# 날씨와 무관한 컬럼 : 'Name','Date',Time (East Coast)','Location','Day Length','Notes', 'Sea Level Pressure'
# 종속변수 : 'Launched?'

In [18]:
# 날씨와 무관한 컬럼 제거

Rocket_df.drop(['Name','Date','Time (East Coast)','Location','Day Length','Notes', 'Sea Level Pressure'],axis=1, inplace=True)
Rocket_df

KeyError: "['Name', 'Date', 'Time (East Coast)', 'Location', 'Day Length', 'Notes', 'Sea Level Pressure'] not found in axis"

In [13]:
# 종속변수 : 'Launched?'
target = Rocket_df['Launched?']
data = Rocket_df.drop('Launched?',axis=1)

In [14]:
# 종속변수의 null 처리 : NaN -> 'N'
target = target.fillna("N")
target

0      N
1      N
2      Y
3      N
4      N
      ..
295    N
296    N
297    Y
298    N
299    N
Name: Launched?, Length: 300, dtype: object

In [21]:
# 적당한 값으로 결측치 처리
# crewed = Uncrewed로
# Launche? = N
# Wind Direction = Unknown
# Condition = Cloudy
# 기타는 중앙값 또는 최빈값

data['Crewed or Uncrewed'] = data['Crewed or Uncrewed'].fillna("Uncrewed")
data['Wind Direction'] = data['Wind Direction'].fillna("Unknown")
data['Condition'] = data['Condition'].fillna("Cloudy")
for column in data.columns:
    if data[column].dtype == 'object':  # 문자열 데이터의 경우 최빈값 사용
        mode_value = data[column].mode().iloc
        data[column] = data[column].fillna(mode_value)
    else:  # 숫자 데이터의 경우 중앙값 사용
        median_value = data[column].median()
        data[column] = data[column].fillna(median_value)
data

,Crewed or Uncrewed,High Temp,Low Temp,Ave Temp,Temp at Launch Time,Hist High Temp,Hist Low Temp,Hist Ave Temp,Percipitation at Launch Time,Hist Ave Percipitation,Wind Direction,Max Wind Speed,Visibility,Wind Speed at Launch Time,Hist Ave Max Wind Speed,Hist Ave Visibility,Hist Ave Sea Level Pressure,Condition
0,Uncrewed,75.0,68.0,71.00,77.0,75.0,55.0,65.0,0.00,0.08,E,16.0,15.0,10.0,NaN,NaN,NaN,Cloudy
1,Uncrewed,78.0,70.0,73.39,77.0,75.0,55.0,65.0,0.00,0.09,E,14.0,10.0,10.0,NaN,NaN,NaN,Cloudy
2,Uncrewed,73.0,0.0,60.21,62.0,75.0,55.0,65.0,0.00,0.09,NE,15.0,10.0,11.0,NaN,NaN,NaN,Cloudy
3,Uncrewed,76.0,57.0,66.04,77.0,75.0,55.0,65.0,0.00,0.08,N,10.0,10.0,10.0,NaN,NaN,NaN,Partly Cloudy
4,Uncrewed,79.0,60.0,70.52,77.0,75.0,55.0,65.0,0.00,0.09,E,12.0,10.0,10.0,NaN,NaN,NaN,Partly Cloudy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Uncrewed,87.0,71.0,79.36,77.0,87.0,70.0,79.0,0.00,0.15,S,20.0,10.0,10.0,NaN,NaN,NaN,Thunder
296,Uncrewed,86.0,72.0,79.50,77.0,88.0,70.0,79.0,0.01,0.16,SE,18.0,10.0,10.0,NaN,NaN,NaN,Fair
297,Crewed,87.0,75.0,79.69,80.0,88.0,70.0,79.0,0.00,0.16,SE,16.0,10.0,7.0,NaN,NaN,NaN,Fair
298,Uncrewed,87.0,72.0,79.70,77.0,88.0,70.0,79.0,0.46,0.16,E,13.0,10.0,10.0,NaN,NaN,NaN,Cloudy
299,Uncrewed,85.0,76.0,80.31,77.0,88.0,70.0,79.0,0.00,0.19,E,16.0,10.0,10.0,NaN,NaN,NaN,Cloudy

In [20]:
Rocket_df.drop(['Hist Ave Max Wind Speed','Hist Ave Visibility','Hist Ave Sea Level Pressure'],axis=1,inplace=True)
Rocket_df

,Crewed or Uncrewed,Launched?,High Temp,Low Temp,Ave Temp,Temp at Launch Time,Hist High Temp,Hist Low Temp,Hist Ave Temp,Percipitation at Launch Time,Hist Ave Percipitation,Wind Direction,Max Wind Speed,Visibility,Wind Speed at Launch Time,Condition
0,NaN,NaN,75.0,68.0,71.00,NaN,75.0,55.0,65.0,0.00,0.08,E,16.0,15.0,NaN,Cloudy
1,NaN,NaN,78.0,70.0,73.39,NaN,75.0,55.0,65.0,0.00,0.09,E,14.0,10.0,NaN,Cloudy
2,Uncrewed,Y,73.0,0.0,60.21,62.0,75.0,55.0,65.0,0.00,0.09,NE,15.0,10.0,11.0,Cloudy
3,NaN,NaN,76.0,57.0,66.04,NaN,75.0,55.0,65.0,0.00,0.08,N,10.0,10.0,NaN,Partly Cloudy
4,NaN,NaN,79.0,60.0,70.52,NaN,75.0,55.0,65.0,0.00,0.09,E,12.0,10.0,NaN,Partly Cloudy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,NaN,NaN,87.0,71.0,79.36,NaN,87.0,70.0,79.0,0.00,0.15,S,20.0,10.0,NaN,Thunder
296,NaN,NaN,86.0,72.0,79.50,NaN,88.0,70.0,79.0,0.01,0.16,SE,18.0,10.0,NaN,Fair
297,Crewed,Y,87.0,75.0,79.69,80.0,88.0,70.0,79.0,0.00,0.16,SE,16.0,10.0,7.0,Fair
298,NaN,NaN,87.0,72.0,79.70,NaN,88.0,70.0,79.0,0.46,0.16,E,13.0,10.0,NaN,Cloudy
299,NaN,NaN,85.0,76.0,80.31,NaN,88.0,70.0,79.0,0.00,0.19,E,16.0,10.0,NaN,Cloudy

In [24]:
# 문자데이터 인코딩

from sklearn.preprocessing import LabelEncoder

columns = ['Crewed or Uncrewed','Wind Direction','Condition']
le = LabelEncoder()

for column in columns:
    data[column] = le.fit_transform(data[column])
data.drop(['Hist Ave Max Wind Speed','Hist Ave Visibility','Hist Ave Sea Level Pressure'], axis=1, inplace=True)

In [25]:
data

,Crewed or Uncrewed,High Temp,Low Temp,Ave Temp,Temp at Launch Time,Hist High Temp,Hist Low Temp,Hist Ave Temp,Percipitation at Launch Time,Hist Ave Percipitation,Wind Direction,Max Wind Speed,Visibility,Wind Speed at Launch Time,Condition
0,1,75.0,68.0,71.00,77.0,75.0,55.0,65.0,0.00,0.08,0,16.0,15.0,10.0,0
1,1,78.0,70.0,73.39,77.0,75.0,55.0,65.0,0.00,0.09,0,14.0,10.0,10.0,0
2,1,73.0,0.0,60.21,62.0,75.0,55.0,65.0,0.00,0.09,2,15.0,10.0,11.0,0
3,1,76.0,57.0,66.04,77.0,75.0,55.0,65.0,0.00,0.08,1,10.0,10.0,10.0,6
4,1,79.0,60.0,70.52,77.0,75.0,55.0,65.0,0.00,0.09,0,12.0,10.0,10.0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1,87.0,71.0,79.36,77.0,87.0,70.0,79.0,0.00,0.15,4,20.0,10.0,10.0,9
296,1,86.0,72.0,79.50,77.0,88.0,70.0,79.0,0.01,0.16,5,18.0,10.0,10.0,1
297,0,87.0,75.0,79.69,80.0,88.0,70.0,79.0,0.00,0.16,5,16.0,10.0,7.0,1
298,1,87.0,72.0,79.70,77.0,88.0,70.0,79.0,0.46,0.16,0,13.0,10.0,10.0,0
299,1,85.0,76.0,80.31,77.0,88.0,70.0,79.0,0.00,0.19,0,16.0,10.0,10.0,0

In [26]:
target

0      N
1      N
2      Y
3      N
4      N
      ..
295    N
296    N
297    Y
298    N
299    N
Name: Launched?, Length: 300, dtype: object

In [27]:
# TODO: 데이터 분리하기
from sklearn.model_selection import train_test_split

X_train,X_test, y_train, y_test = train_test_split(data, target, test_size=0.2, random_state=42)

In [29]:
# TODO: 모델 만들고 성능 평가하기기
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV

gridcv = GridSearchCV(DecisionTreeClassifier(), 
                      param_grid={'max_depth': range(1, 11)}, 
                      cv=5)
rf = RandomForestClassifier()
lr = LogisticRegression()

gridcv.fit(X_train, y_train)
y_pred_rf = rf.fit(X_train, y_train).predict(X_test)
y_pred_lr = lr.fit(X_train, y_train).predict(X_test)

In [30]:
from sklearn.metrics import classification_report


out = f'''
compare DT ,RF, LR
DT : {gridcv.best_score_}
RF : {rf.score(X_test, y_test)}
LR : {lr.score(X_test, y_test)}

DT confusion matrix : 
{classification_report(y_test, gridcv.best_estimator_.predict(X_test))}

RF confusion matrix : 
{classification_report(y_test, y_pred_rf)}

LR confusion matrix : 
{classification_report(y_test, y_pred_lr)}
'''
print(out)

compare DT ,RF, LR
DT : 0.9833333333333332
RF : 1.0
LR : 0.8

DT confusion matrix :
              precision    recall  f1-score   support

           N       1.00      1.00      1.00        47
           Y       1.00      1.00      1.00        13

    accuracy                           1.00        60
   macro avg       1.00      1.00      1.00        60
weighted avg       1.00      1.00      1.00        60


RF confusion matrix :
              precision    recall  f1-score   support

           N       1.00      1.00      1.00        47
           Y       1.00      1.00      1.00        13

    accuracy                           1.00        60
   macro avg       1.00      1.00      1.00        60
weighted avg       1.00      1.00      1.00        60


LR confusion matrix :
              precision    recall  f1-score   support

           N       0.80      1.00      0.89        47
           Y       1.00      0.08      0.14        13

    accuracy                           0.80        60
   macro avg       0.90      0.54      0.51        60
weighted avg       0.84      0.80      0.73        60